@using Microsoft.AspNetCore.Identity
@using TrabalhoFinalRentCar.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
{

    <a class="#" style="color: #FFFFFF;font-size: 14px;text-decoration: none;font-family:'Playfair Display';margin-left: 15px; margin-right: 15px;display:inline-block;"  asp-area="" asp-controller="User" asp-action="Employees">Employees</a>
    <a class="#" style="color: #FFFFFF;font-size: 14px;text-decoration: none;font-family:'Playfair Display';margin-left: 15px; margin-right: 15px;display:inline-block;" asp-area="" asp-controller="Rooms" asp-action="ManagePortfolio">Rooms Portfolio</a>


}

