@model Clientes.Models.Nota

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_LayoutNotas.cshtml";
}

<h1>Editar Nota</h1>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextoNota" class="control-label"></label>
                <input asp-for="TextoNota" class="form-control" />
                <span asp-validation-for="TextoNota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsavel" class="control-label"></label>
                <input asp-for="Responsavel" class="form-control" />
                <span asp-validation-for="Responsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRealizar" class="control-label"></label>
                <input asp-for="DataRealizar" class="form-control" />
                <span asp-validation-for="DataRealizar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-sm" style="background-color:#FFFF33; color:darkslategrey" />
                <a asp-action="Index" class="btn btn-sm" style="background-color:#FFFF33; color:darkslategrey">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
   